<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Angular App</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>

      <nav
        *ngIf="
          settingsService.selectedNativeLanguage$ | async as selectedLanguage
        "
      >
        <ul class="menu" *ngIf="selectedLanguage === 'russian'">
          <li><a routerLink="/">Главная</a></li>
          <li><a routerLink="/go">Упражнения</a></li>
          <li><a routerLink="/settings">Настройки</a></li>
        </ul>
        <ul class="menu" *ngIf="selectedLanguage === 'english'">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/go">Exercises</a></li>
          <li><a routerLink="/settings">Settings</a></li>
        </ul>
      </nav>
    </header>

    <main>
     
      <router-outlet></router-outlet>
    </main>

    <footer>
      <!-- Здесь может быть ваш футер -->
    </footer>
  </body>
</html>
