<div [ngSwitch]="selectedLearningLanguage">
  <div *ngSwitchCase="'russian'">You have selected Russian for exercises and want to know {{wordNumber}}  words
  <button (click)="placeFirstWord()">
Let's start!
  </button>
  <app-form *ngIf="showForm"
  [selectedLearningLanguage]="selectedLearningLanguage"
    [wordNumber]="wordNumber"
    [firstWord]="firstWord"
  ></app-form>
</div>
  
<div *ngSwitchCase="'english'">Вы выбрали для упражнений английский язык и хотите узнать {{wordNumber}} слов
<button (click)="placeFirstWord()">Давайте начнем!</button>
<app-form *ngIf="showForm"
[selectedLearningLanguage]="selectedLearningLanguage"
[wordNumber]="wordNumber"
[firstWord]="firstWord"
></app-form>
</div>
    <p *ngSwitchDefault>Выберете свой родной язык/Choose your native language</p>

</div>



