<label *ngIf="!selectedLanguage" for="native-language"
  >Выберете свой родной язык/Choose your native language:</label
>
<select *ngIf="!selectedLanguage" 
  name="native-language"
  id="native-language"
  (change)="onCnangeNativeLanguage($event)"
>
  <option value="">Выберете/Choose</option>
  <option *ngFor="let language of languages" [value]="language.toLowerCase()">
    {{ language }}
  </option>
</select>
<div [ngSwitch]="selectedLanguage">
  <div *ngSwitchCase="'russian'">
   <p>Вы выбрали русский язык</p>
   <button (click)="clearSelectedLanguage()">Вернуться к выбору родного языка</button>
   <p> Для начала упражнений перейдите на страницу настроек</p>
   <p *ngIf = "selectedLearningLanguage"> Для упражнений вы выбрали английский язык {{selectedLearningLanguage}}</p>
  </div>
  <div *ngSwitchCase="'english'">
    <p>To start the exercises, go to the settings page</p>
    <p>You have chosen English</p>
    <button (click)="clearSelectedLanguage()">Go back to choosing your native language</button>
  </div>
  <div *ngSwitchDefault></div>
</div>
