<div [ngSwitch]="selectedNativeLanguage">
    <label *ngSwitchDefault>Вернитесь на главную страницу и выберете свой родной язык</label>
    <label *ngSwitchCase ="'russian'"for="learning-language" >Выберетe язык для изучения:</label>
<label *ngSwitchCase ="'english'"for="learning-language" >Select a language to study:</label>
<select *ngIf="selectedNativeLanguage"  name = "learning-language" id = "native-language" (change)="onChangeLanguage($event)">
<option value="">Выберете/Choose</option>
<option *ngFor="let language of  languagesForLearning" [value]="language.toLowerCase()">{{language}}</option>

    
